########################
# angularify
########################
.angularify
.build
.tmp
build
test/results/*
vendors
dev/sitemap.xml
dev/sitemap.xml.gz

########################
# node.js / npm
########################
lib-cov
coverage
*.seed
*.log
*.csv
*.dat
*.out
*.pid

pids
logs

node_modules

npm-debug.log

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea